html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: var(--bg);
}
:root{
  --bg: #393e46;
  --text: #00adb5;
  --lightBlue: #aad8d3;
  --white: #eeeeee;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button{
  cursor: ponter;
}
